<div class="jumbotron"><h1 class="header"><a href="/"><strong>Song Wall</strong></a></h1>
<div class="btn btn-primary" id="post"><a href="/songs" class="button-txt">View the List</a></div>
<% if session[:id] %>
  <h4 id="username">Hello, <%= User.find(session[:id]).name %>!</h4>
  <div><a class="btn btn-primary" href="/songs/new">Post a song!</a></div>
  <div class="btn btn-primary"><a href="/users/logout" class="button-txt">Logout</a></div>
<% else %>
  <div class="btn btn-primary"><a href="/users/login" class="button-txt">Login</a></div>
<% end %>
<div class="btn btn-primary"><a href="/users/signup" class="button-txt">Sign Up</a></div>
</div>

<div class="song">
  <h3><a href="/songs/<%= @song.id %>"><%= @song.title %></a> <small>(by: <%= @song.username %>)</small></h3>
  <p><%= @song.url %></p>
    <form method="post" action="/songs/<%= @song.id %>">
      <input type="submit" class="btn btn-primary" value="Upvote"><p>upvotes: <%= @song.upvotes %></p>
    </form>
    <% @comments.each do |comment|%>
    <p>"<%=comment.content%>", at <%= comment.created_at%></p>
    <% end %>
    <form method="post" action="/songs/<%= @song.id %>/review">
      <input type="text" name="content" class="form-control" placeholder="add your review here" value="add your review here">
    </form>
</div>
